<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ConnStringLocal" connectionString="Server=localhost;Database=tp2_net;Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
  <add name="ConnStringExpress" connectionString="Server=localhost\SQLEXPRESS;Database=Academia;&#xD;&#xA;Integrated Security=false; User=net; Password=net;"
   providerName="System.Data.SqlClient" />
  <add name="ConnStringServerISI" connectionString="Server=serverisi; Database=tp2_net; Integrated&#xD;&#xA;Security=false; User=net; Password=net;"
   providerName="System.Data.SqlClient" />
  <add name="UI.Desktop.Properties.Settings.AcademiaConnectionString"
   connectionString="Data Source=localhost;Initial Catalog=Academia;Persist Security Info=True;User ID=net;Password=net"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>